@import "tailwindcss";

@font-face {
  font-family: "Doto Sans";
  src: local("Doto Sans"),
    url('./assets/fonts/Doto.ttf')
}

@theme {
  --color-background: var(--color-stone-900);
  --color-foreground: var(--color-amber-400);

  --font-sans: "Doto Sans", sans-serif;
}

@layer base {
  body {
    @apply text-foreground bg-background;
  }
}
