@import "../styles/globals.css";

@font-face {
  font-family: 'Doto';
  src: url("./Doto.ttf");
}

@theme inline {
  --font-doto: "Doto";
  --color-foreground: var(--color-amber-300);
  --color-background: var(--color-stone-900);
}

@layer base {
  body {
    @apply font-doto;
  }
}

@utility px-rws {
  @apply px-4 sm:px-6 md:px-8 lg:px-12 xl:px-16 2xl:px-24;
}
